.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 5px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/*-----------------------------------*/
body {
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 12px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  align-items: center;
  margin: 22px;
  width: 328px;
  height: 536px;
}

.image {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  position: relative;
}
.imageMobil {
  position: absolute;
  top: 4vh;
  left: 1vh;
}
.imageDesktop {
  display: none;
}
.answer {
  display: none;
}
.openedAnswer {
  display: block;
}
.opened {
  display: block;
  transform: rotate(180deg);
}
.arrow:hover {
  cursor: pointer;
}

@media only screen and (min-width: 1444px) {
  .imageMobil {
    display: none;
  }
  .imageDesktop {
    display: block;
  }
}
